*{
	padding: 0;
	margin: 0;
	font-family: 'Kalam', cursive;
}
html {
	scroll-behavior: smooth;
	background-color: black;
}
header {
    width: 100%;
    height: 100%;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(img/ipn_instituto_politeﾌ…nico_nacional.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(img/ipn_instituto_politeﾌ…nico_nacional.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.inicio {
	color: black;
    display: flex;
    height: 830px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 90px;
    text-decoration: underline;
    text-shadow: 7px 5px 5px white;
}
nav {
    text-align: center;
}
a {
	border-style: double;
    color: 	white;
    display: inline-flex;
    font-weight: 300;
    font-size: 35px;
    text-decoration: none;
    margin: 0px 20px 0px;
    padding: 10px 20px;
    border-radius: 20%;
    background-color: #E44885;
}

a:hover {
    text-decoration: underline;
    background-color: white;
    color: #E44885;
}
h2 {
	text-align: center;
	color: red;
	font-size: 50px;
	text-decoration-line: underline;
	padding: 60px 0px 0px;
}
.blanco {
	background-color: #FFFFFF;
	height: 100%;
}
.gris {
    background-color: #E4E4E4;
    height: 100%;
}
li {
	margin: 0px 80px;
	text-align: left;
	font-size: 20px;
}
div .cont { /* Division de secciones */
	text-align: center;
	margin: 5px 5vw;
	font-size: 20px;
}
.img {
	margin: 20px auto;
	height: 70vw;
	width: 70vw;
	min-width: 300px;
	min-height: 300px;
	max-width: 720px;
	max-height: 720px;
}
.img2 {
	margin: 20px auto;
	height: 55vw;
	width: 80vw;
	min-width: 300px;
	min-height: 280px;
	max-width: 960px;
	max-height: 670px;
}
.volver {
	margin: 50px;
	font-size: 20px;
	background-color: #AD9DC1;
	border-radius: 20px;
}
.volver:hover {
	background-color: #E1CCFB;
}
.video-title {
	text-decoration: underline;
	padding: 60px 0px 0px;
}
.video {
	display: block;
	width: 70%;
	min-width: 300px;
	min-height: calc(.5625 * 300px);
	max-width: 720px;
	max-height: calc(.5625 * 720px);
	height: calc(.5625 * 70vw);
	padding: 0px 0px 0px;
	margin: auto;
	border-style: double;
	border-width: 10px;
}
footer {
	width: 100%;
    height: 100%;
    background: white;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(img/ipn_instituto_politeﾌ…nico_nacional.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(img/ipn_instituto_politeﾌ…nico_nacional.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.int {
	color: black;
	text-shadow: 3px 3px 3px white;
	padding-top: 20px;
	padding-bottom: 30px;
	text-decoration: none;
	font-size: 60px;
}
.name li {
	margin: 15px 0;
	padding: 20px 0;
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	text-shadow: 3px 3px 3px #AA9FC8;
    color: 	white;
    border-color: #AA9FC8;
	border-style: double;
}
